$primary-color: #e9dfc8;
$seconday-color: #30be94;
$seconday-color-darker: #279071;
$seconday-color-lighter: #37dbaa;
$primary-color-darker: #8a5c48;
$primary-color-lighter: #fff5dc;
$black-color: #3e3e3e;
$white-color: #eeeeee;
$external-padding: 40px;
$external-max-width: 1080px;
$internal-max-width: calc($external-max-width - $external-padding * 2);
