@import "./variables";

.loadingScreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: min(400px, 100%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 1000px;
  }
  z-index: 999999999;
}
