@import "./variables";

.wrapper {
  max-width: $internal-max-width;
  padding: $external-padding;
  margin: auto;
}

.hidden {
  header {
    transform: translateY(-200px);
  }
}
.nav {
  @extend .wrapper;
  header {
    transition: transform 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black-color;
    z-index: 99999;
    box-shadow: 0 0 12px $black-color;
    .navbar {
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 12px $external-padding;
      max-width: $internal-max-width;
      color: $white-color;
      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 2px;
          border: 2px solid $white-color;
        }
        h1 {
          margin: 0;
          margin-left: 12px;
        }
      }
      .music {
        cursor: pointer;
        position: absolute;
        margin-left: 12px;
        &.active {
          @keyframes heartbeat {
            from {
              font-size: 20px;
            }
            to {
              font-size: 32px;
            }
          }
          animation-name: heartbeat;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: linear;
        }
      }
    }
  }
  .musicPlayer {
    position: fixed;
    left: 12px;
    bottom: 12px;
    display: flex;
    flex-direction: column;
    z-index: 9999999999;
    iframe {
      border: none;
      height: 240px;
      width: 240px;
    }
    &.hidden {
      iframe {
        width: 0;
        height: 0;
      }
    }
  }
}
